/* Tailwind CSS imports */
@tailwind base;
@tailwind components;

.btn-primary {
  @apply bg-purple-600 text-white
}

.btn-secondary {
  @apply border border-purple-600 text-purple-600
}

.modal-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@tailwind utilities;